.movie-catalogo {
  display: flex !important;
  justify-content: center !important;
  margin-top: 25px;

  .ant-card-cover {
    img {
      height: 320px !important;
    }
  }

  .ant-card-meta-title {
    text-align: center !important;
  }
}
